<!DOCTYPE html>
<html lang="en" data-theme="ua">
<!-- <html lang="en" data-theme="mytheme"> -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Interface</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <!-- <link rel="stylesheet" href="css/app.css"> -->
    <script src="https://kit.fontawesome.com/b8f9f217c7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="dist/tailwind.css">
    <!-- <link rel="stylesheet" href="dist/datatables.css"> -->
    <!-- <link rel="stylesheet" href="dist/highlight.css"> -->
    <!-- <script src="css/ext/tailwindcss.js"></script> -->
    {{ if .EnvDev }}{{ template "partials/external_sources" }}{{ end }}

</head>

<body class="bg-[url('/img/robot_image_3.png')] bg-center bg-cover bg-scroll h-screen overflow-x-hidden overscroll-x-none">
<!-- <body class="bg-[url('/img/robot_image_3.png')] overscroll-y-none overscroll-none overscroll-x-none overflow-x-hidden scroll-smooth bg-cover bg-center h-screen"> -->
    <!-- <body class="overscroll-y-none overscroll-none overscroll-x-none overflow-x-hidden scroll-smooth bg-gradient-to-br from-10% from-base-300/90 to-70%"> -->
    <!-- <script src="js/main.js"></script> -->
    {{template "partials/nav" . }}
    {{ if ne .Title "Login" }}{{template "partials/sidebar" . }}{{end}}

    {{embed}}
    <!-- <script src="/js/external/jquery-ui.min.js"></script> -->
    <!-- {{ template "login_form" .}} -->

    {{ if ne .Title "Login" }}
    <script src="js/app.js"></script>
    <script defer src="js/htmx.js"></script>
    <script src="js/typing_words.js"></script>
    {{ if eq .Title "AI Web Interface" }}
    <script src="js/audio.js"></script>
    {{end}}
    <script defer>
        const pt_AWI = "AI Web Interface";

        const pageProps = {{.}}; // page properties from BE
        const pageTitle = "{{.Title}}";
        var es = null; // EventSource object
        document.addEventListener('DOMContentLoaded', function () {
            console.log(`Document ready! pageTitle=${pageTitle}`);
            userAuthCheck(es);
            sideBar();
            controlTextArea();
            addListener_btn_send();
            if (pageTitle == pt_AWI) {
                InitSTT();
            }
        })
    </script>
    {{end}}

    <!-- <script defer="defer" src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script> -->
    <!-- <script defer="defer" src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script> -->
    <script defer="defer" src="dist/json-enc.js"></script>
</body>

</html>