<div class="flex">
    <input type="checkbox" id="drawer-toggle" class="relative sr-only peer">
    <label for="drawer-toggle" id="drawer-toggle-label" class="absolute bg-transparent/40 duration-500 inline-block left-0 peer-checked:left-1/4 peer-checked:rotate-180 px-2 py-4 rounded-lg top-20 transition-all cursor-pointer hover:scale-125 hover:bg-gradient-to-b hover:from-yellow-400 hover:to-sky-600">
        <div class="w-4 h-1 mb-1 -rotate-45 bg-white rounded-lg bg-black"></div>
        <div class="w-4 h-1 rotate-45 bg-white rounded-lg bg-black"></div>
    </label>
    <div class="fixed top-0 left-0 z-20 w-1/4 h-full transition-all duration-500 transform -translate-x-full shadow-black shadow-lg peer-checked:translate-x-0">
        <div class="px-6 py-4 bg-black">
            <h2 class="text-2xl font-extrabold font-mono link-secondary leading-6">MENU</h2>
            <p class="text-gray-500"></p>
        </div>
        <div class="bg-base-300 h-full">
            <ul class="join join-vertical mx-auto px-4 py-6 space-y-2 text-sm w-full list-none">
                <li class=""><a class="border-l-secondary-focus/50 btn font-semibold hover:border-l-4 hover:bg-primary hover:scale-110 hover:text-secondary-content join-item min-w-full" href="/">START PAGE</a></li>
                <!-- <li class=""><a class="border-l-secondary-focus/50 btn font-semibold hover:border-l-4 hover:bg-primary hover:scale-110 hover:text-secondary-content join-item min-w-full" href="/ai">AI WEB Interface</a></li> -->
                <!-- <li class=""><a class="border-l-secondary-focus/50 btn font-semibold hover:border-l-4 hover:bg-primary hover:scale-110 hover:text-secondary-content join-item min-w-full" href="/aidb">AI DB Assistant</a></li> -->
                <li class=""><a class="border-l-secondary-focus/50 btn font-semibold hover:border-l-4 hover:bg-primary hover:scale-110 hover:text-secondary-content join-item min-w-full" href="/voip">VoIP</a></li>
                <li class=""><a class="border-l-secondary-focus/50 btn font-semibold hover:border-l-4 hover:bg-primary hover:scale-110 hover:text-secondary-content join-item min-w-full" href="/vectordb-admin">VectorDB</a></li>
                <li class=""><a class="border-l-secondary-focus/50 btn font-semibold hover:border-l-4 hover:bg-primary hover:scale-110 hover:text-secondary-content join-item min-w-full" href="/am">Access Management</a></li>
                <li class=""><a class="border-l-secondary-focus/50 btn font-semibold hover:border-l-4 hover:bg-primary hover:scale-110 hover:text-secondary-content join-item min-w-full" href="/am2">Access Management <span class="badge badge-accent">NEW</span></a></li>
                <li class=""><a class="border-l-secondary-focus/50 btn font-semibold hover:border-l-4 hover:bg-primary hover:scale-110 hover:text-secondary-content join-item min-w-full">FAQ</a></li>
            </ul>
        </div>
    </div>
</div>